---
import WebLayout from "../layouts/WebLayout.astro";

//Server Only
const name = "Edward Jhonatan Salas Mamani";
---

<WebLayout title="Home Page">
  <h1>{name}</h1>
  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>

  <script>
    //Client Only
    const currentTimeElement = document.querySelector(
      "#current-time"
    ) as HTMLParagraphElement;

    currentTimeElement.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</WebLayout>
