---
const navTitle = "Navigation";
---

<span>{navTitle}</span>
<nav>
  <a href="/">Home Page</a>
  <a href="/about">About Page</a>
  <a href="/contact">Contacct Page</a>
  <a href="/error">Page 404</a>
</nav>
<hr />
